[
  {
    "ecr_repository": "",
    "task_definition_arn": "arn:aws-us-gov:ecs:<region>:<user_id>:task-definition/<task_definition_name>",
    "container": "",
    "service": "",
    "cluster": ""
  }
]